# Copyright (c) 2023 Nuvoton Technology Corporation.
#
# SPDX-License-Identifier: Apache-2.0


config SOC_FAMILY_NUMAKER
	# select PLATFORM_SPECIFIC_INIT
	select SOC_RESET_HOOK
	bool

if SOC_FAMILY_NUMAKER

config SOC_FAMILY
	string
	default "nuvoton_numaker"

rsource "*/Kconfig.soc"

endif # SOC_FAMILY_NUMAKER
