# SPI driver configuration options

# Copyright (c) 2015-2016 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

#
# SPI Drivers
#

if SPI

module = SPI
module-str = spi
# source "subsys/logging/Kconfig.template.log_config"

rsource "Kconfig.numaker"

endif # SPI
