# Copyright (c) 2023 Nuvoton Technology Corporation.
#
# SPDX-License-Identifier: Apache-2.0

choice
	prompt "Nuvoton M2354 MCU Selection"
	depends on SOC_SERIES_M2354

config SOC_M2354
	bool "M2354"
	select HAS_NUMAKER_HAL
	# select PLATFORM_SPECIFIC_INIT
	select SOC_RESET_HOOK
	select SOC_EARLY_INIT_HOOK

endchoice
