config INPUT_ANALOG
	bool "ADC based analog input driver"
	default y
	depends on MULTITHREADING
	select ADC
	help
	  ADC based analog input driver

if INPUT_ANALOG

config INPUT_ANALOG_THREAD_STACK_SIZE
	int "Stack size for the analog input thread"
	# default 762
	default 2048
	help
	  Size of the stack used for the analog thread.

config INPUT_ANALOG_THREAD_PRIORITY
	int "Priority for the analog input thread"
	default 0
	help
	  Priority level of the analog thread.

endif
